*{
    margin: 10px;
    padding: 10px;
}

.father {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 1200px;
}
    .header {
        background: #000;
    }
        .nav {
            background-color: aquamarine;
            display: flex;
            flex-flow: row nowrap;
        }   
            .nav-section-1 {
                background-color: deeppink;
                flex: 1 1 auto;
            }
            .nav-section-2 {
                background-color: deeppink;
                flex: 5 1 auto;
            }
            .nav-section-3 {
                background-color: deeppink;
                flex: 1 1 auto;
            }            
        .under-nav {
            background-color: crimson;
        }
            .under-nav-section {
            background-color: darkgoldenrod;
            }

    .section {
        background: #000;
        display: flex;
    }
        .article {
            background-color: slategray;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;            
        }
            .article-section {
                background-color: blueviolet;
                flex: 1 1 40%;
            }
            .article-section-B {
                background-color: rgb(184, 143, 223);
                flex: 4 1 100%;
            }

        .aside {
            background-color: chartreuse;
            flex: 1 1 auto;
        }
            .aside-section {
                background-color:white
            }

    .footer {
        background: #000;
    }
        .footer-section {
            background-color:palevioletred
        }